{%- if product.available == false -%}
  <span
    class="bg-[rgba(var(--color-soldout-bg))] text-[rgba(var(--color-soldout-text))] text-xs px-2 py-1"
  >
    Sold out
  </span>
{%- elsif product.compare_at_price > product.price and product.available -%}
  <span
    class="bg-[rgba(var(--color-sale-bg))] text-[rgba(var(--color-sale-text))] text-xs px-2 py-1"
  >
    Sale
  </span>
{%- endif -%}
