{% liquid
  assign compareAtPrice = product.compare_at_price
  assign salePrice = product.price_min

  if compareAtPrice > salePrice
    assign saveMoney = compareAtPrice | minus: salePrice
    assign savePercent = saveMoney | times: 100 | divided_by: compareAtPrice
  endif
%}

<div class="price flex flex-wrap gap-2 text-sm">
  <span class="hidden"> Regular price </span>
  {% if product.compare_at_price %}
    <span class="line-through text-red-700">
      {{ product.compare_at_price | money }}
    </span>
  {% endif %}
  <span class="hidden">Sale price</span>
  <span class="font-light "> From {{ product.price_min | money }} </span>

  <span class="hidden">Save Price</span>
  {% if saveMoney %}
    {% if settings.save_price == 'money' %}
      <span class="text-green-700"> Save {{ saveMoney | money }} </span>
    {% else %}
      <span class="text-green-700"> Save {{ savePercent | append: '%' }} </span>
    {% endif %}
  {% endif %}
</div>
