{% comment %}
  <div class="hidden md:block">
    {% for media in product.media %}
      <div class="h-100 overflow-hidden p-2">
        {% render 'product-media', media: media %}
      </div>
    {% endfor %}
  </div>
{% endcomment %}

{% if product.media.size > 1 %}
  {% assign slider = true %}
{% endif %}

<div class="flex flex-col gap-8" id="product-media">
  {% if slider %}
    <splide-component
      data-splide='{  "type": "fade", "pagination": false,  "autoHeight": true }'
      data-thumbnails='{ "autoWidth": true, "gap": 10, "type": "slide", "arrows": false, "pagination": false, "perMove": 1, "lazyLoad": true }'
    >
  {% endif %}
  <div class="{% if slider -%}splide{%- endif %}">
    <div class="{% if slider -%}splide__track{%- endif %}">
      <ul class="{% if slider -%}splide__list {% endif %}">
        {%- if product.selected_or_first_available_variant.featured_media != null -%}
          {%- assign media = product.selected_or_first_available_variant.featured_media -%}

          <li class="{% if slider %}splide__slide flex items-center{% endif %}" data-imageid="{{ media.id }}">
            {% render 'product-media', media: media, variant_images: variant_images %}
          </li>
        {% endif %}

        {% for media in product.media %}
          {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
            <li class="{% if slider %}splide__slide flex items-center{% endif %}" data-imageid="{{ media.id }}">
              {% render 'product-media', media: media, variant_images: variant_images %}
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </div>

  {% if product.media.size > 1 %}
    <div class="splide-thumbnails mt-4 {% if slider -%}splide{%- endif %}">
      <div class="{% if slider -%}splide__track{%- endif %}">
        <ul class="{% if slider -%}splide__list items-center{%- endif %}">
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
            {%- assign media = product.selected_or_first_available_variant.featured_media -%}
            <li class="{% if slider %}splide__slide{% endif %}">
              {% render 'product-media', media: media, thumbnail: true %}
            </li>
          {% endif %}

          {% for media in product.media %}
            {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
              <li class="{% if slider %}splide__slide{% endif %}">
                {% render 'product-media', media: media, thumbnail: true %}
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
  {% if slider %}
    </splide-component>
  {% endif %}
</div>

<script>
  const scalers = document.querySelectorAll('.scalable-image');

  scalers.forEach((scaler) => {
    const imageBlock = scaler.closest('.scalable-image-container');

    imageBlock.addEventListener('mousemove', function (e) {
      const x = e.clientX - imageBlock.getBoundingClientRect().left;
      const y = e.clientY - imageBlock.getBoundingClientRect().top;

      scaler.style.transformOrigin = `${x}px ${y}px`;
    });
  });
</script>

<style>
  .scalable-image-container {
    overflow: hidden;
    position: relative;
  }

  .scalable-image {
    width: 100%;
    height: auto;
    transition: transform 0.1s;
  }

  .scalable-image-container:hover .scalable-image {
    transform-origin: 50% 50%;
    transform: scale(2);
  }
</style>
