<div class="splide__arrows splide__arrows--ltr flex items-center gap-4">
  <button
    class="splide__arrow splide__arrow--prev"
    type="button"
    aria-label="Previous slide"
    aria-controls="splide01-track"
  >
    {% render 'icon-caret', class: 'h-5 w-5 rotate-[90deg]' %}
  </button>
  <button
    class="splide__arrow splide__arrow--next"
    type="button"
    aria-label="Next slide"
    aria-controls="splide01-track"
  >
    {% render 'icon-caret', class: 'h-5 w-5 rotate-[-90deg]' %}
  </button>
</div>
