<slider-component>
  <div class="main-carousel">
    <div class="slide w-full text-center">Slide 1</div>
    <div class="slide w-full text-center">Slide 2</div>
    <div class="slide w-full text-center">Slide 3</div>
  </div>
</slider-component>
