<div class="">
  {% if cart.item_count > 0 %}
    <div
      class="cart-count bg-[rgba(var(--color-btn))] text-[rgba(var(--color-btn-text))] absolute text-xs rounded-full w-5 h-5 -top-2 -right-2 flex items-center justify-center"
    >
      {{ cart.item_count }}
    </div>
  {% endif %}
</div>
