<div class="h-full w-full flex flex-col justify-center items-center">
  <div class="flex flex-col items-center">
    <div class=" font-bold text-7xl">
      <p class="mb-1">
        {{ 'templates.404.subtext' | t }}
      </p>
    </div>

    <div class="font-bold text-3xl xl:text-6xl lg:text-5xl md:text-4xl  mt-1 sm:mt-2">
      {{ 'templates.404.title' | t }}
    </div>
    <div class="mt-6">
      <a href="{{ routes.all_products_collection_url }}">
        <button
          class="w-full button button-outline"
        >
          {{ 'general.continue_shopping' | t }}
        </button>
      </a>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Login",
  "class": "h-full flex flex-col justify-center",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    }
  ]
}
{% endschema %}
