{% liquid
  assign desktop_columns_class = 'lg:grid-cols-3'
  if section.settings.columns_desktop == '3'
    assign desktop_columns_class = 'lg:grid-cols-3'
  elsif section.settings.columns_desktop == '4'
    assign desktop_columns_class = 'lg:grid-cols-4'
  elsif section.settings.columns_desktop == '5'
    assign desktop_columns_class = 'lg:grid-cols-5'
  endif
%}

{% paginate search.results by 10 %}
  {% if search.performed %}
    {% if search.results.size > 0 %}
      <div class="page-width en-container relative" id="products-grid">
        {% paginate search.results by 12 %}
          <div class="w-full flex flex-col md:flex-row md:gap-4">
            <div
              class="grid grid-gap relative grid-cols-1 {% unless section.settings.display_style == 'list' %}  md:grid-cols-2 {{ desktop_columns_class }} {% endunless %} flex w-full"
            >
              {% for item in search.results %}
                {% case item.object_type %}
                  {% when 'product' %}
                    {% render 'product-card',
                      card_product: item,
                      show_vendor: section.settings.show_vendor,
                      show_title: true,
                      show_price: section.settings.show_price,
                      quick_add: section.settings.quick_add,
                      type: section.settings.display_style,
                      swatches: section.settings.color_swatches
                    %}
                  {% when 'article' %}
                    {% render 'article-card',
                      article: item,
                      show_image: true,
                      show_date: true,
                      show_author: true,
                      show_badge: true,
                      media_aspect_ratio: 1
                    %}
                  {% when 'page' %}
                    <div class="{% if settings.reveal_on_scroll %} reveal {% endif %} {% if settings.product_card_style == 'card' %} product-card {% endif %} {% if settings.corners == "rounded" %} rounded-lg {% endif %} w-full duration-300 hover:shadow-md overflow-hidden flex flex-col items-center h-full justify-center">
                      <div class="absolute flex items-center justify-center text-xs font-bold uppercase overflow-hidden top-1 left-1 {% if settings.corners == "rounded" %} rounded-sm {% endif %}">
                        <span
                          class="bg-bg/75 text-text text-xs px-2 py-1"
                        >
                          Page
                        </span>
                      </div>
                      <a href="{{ item.url }}">
                        <h3 class="h4">
                          {{ item.title }}
                        </h3>
                      </a>
                    </div>
                  {% else %}

                {% endcase %}
              {% endfor %}
            </div>
          </div>

          {% render 'pagination', paginate: paginate %}
        {% endpaginate %}
        <div
          id="products-grid-overlay"
          class="absolute w-full h-full top-0 left-0 transition duration-500 z-[-1]"
        ></div>
      </div>

    {% else %}
      <div class="text-center my-4">
        <p>No results found for the search term: {{ search.terms | escape }}. Try to use a different keyword</p>
      </div>
    {% endif %}
  {% endif %}

  {% render 'pagination', pagination: paginate %}
{% endpaginate %}

{% schema %}
{
  "name": "Search results",
  "tag": "section",
  "class": "grow shrink basis-0",
  "settings": [
    {
      "type": "number",
      "id": "number_of_products_per_page",
      "default": 6,
      "label": "Number of products per page"
    },
    {
      "type": "select",
      "id": "display_style",
      "default": "grid",
      "label": "Display Style",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "label": "List",
          "value": "list"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "color_swatches",
      "default": true,
      "label": "Enable Color Swatches"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "default": true,
      "label": "Show price"
    },

    {
      "type": "checkbox",
      "id": "quick_add",
      "default": true,
      "label": "Enable quick add"
    },
    {
      "type": "select",
      "id": "columns_desktop",
      "default": "4",
      "label": "No of columns on desktop",
      "options": [
        {
          "label": "3",
          "value": "3"
        },
        {
          "label": "4",
          "value": "4"
        },
        {
          "label": "5",
          "value": "5"
        }
      ]
    }
  ]
}
{% endschema %}
